@{
    ViewBag.Title = "Home Page";
}

    <h4>Mapping Example One</h4>
    <div id="mapping-example-one"></div>

<h4>Mapping Example Two</h4>
<div id="mapping-example-two"></div>

<h4>Mapping Example Three</h4>
<div id="mapping-example-three"></div>

<h4>Mapping Example Four</h4>
<div id="mapping-example-four"></div>


@section scripts{
    <script type="text/jsx" src="@Url.Content("~/Scripts/mappingTemplate.jsx")"></script>
}